// The following control the padding applied in the six width steps
$mob-port-pad: 8px
$mob-land-pad: 8px
$tab-port-pad: 2%
$tab-land-pad: 4%
$med-desk-pad: 8%
$widescreen-pad: 16%

// $grid-max-width, the widest .grid-wrap can possibly be
$grid-max-width: 2000px


// $row-padding applies to bottom of rows and grid items when collapsed
$row-padding: 17px

// $row-collapsed-doublepad, adds double padding on last grid item when
// collapsed
$row-collapsed-doublepad: false

// $column-count, the .grid-x classes widths are defined by dividing by this
// number, if you want less than 12 columns reduce here. Currently more than
// 12 is not supported, you could add more .grid-x classes for this to work.
$column-count: 12

$transition-enable: true
$transition-options: 0.2s ease-out
